body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  text-align: center;
  margin: 0;
  padding: 0;
}

header {
  background: black;
  color: white;
  padding: 40px;
}

main {
  padding: 30px;
}

button {
  padding: 12px 20px;
  border: none;
  background: royalblue;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: darkblue;
}

footer {
  margin-top: 50px;
  padding: 20px;
  background: #ddd;
}
